<div class="jumbotron mt-4">
    <h1 class="display">Notes App with NodeJs & MongoDb</h1>
    <p class="lead">lorem ipsum, dolor sit amet consecteur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis recusandae repellendus cum nemo, 
       iste exercitationem aspernatur nostrum enim porro reprehenderit molestias qui atque ad odit molestiae 
       quo ipsum, hic delectus.</p>
    <a href="http://test.andes.gob.ar" class="btn btn-primary btn-lg" target="_blank">Andes Testing</a>
</div></mt-4>